:root{
  --primary-red: #e92323;
  --black: #000000;
  --white: #ffffff;
  --text-main: var(--black);
  --background: var(--white);
}

body{
  background: var(--background);
  color: var(--text-main);
}